@model IEnumerable<Yenetta_code.Models.Brand>

@{
    ViewData["Title"] = "Deleted categories";
}
@if (TempData["RestoreBrand"] != null)
{
    <div class="alert alert-success">@TempData["RestoreBrand"]</div>
}


<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.brandName)
                </td>
                <td>
                    <a asp-action="RestoreBrand" asp-route-id="@item.id">Restore</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index">Go back</a>
</p>
