@model Yenetta_code.Models.DTOs.UpdateDTOs.UpdateProductDTO;

@{
    ViewData["Title"] = "Update";
}
@{
    var brands = ViewBag.brands as List<string>;
    var categories = ViewBag.categories as List<string>;
}
<h1>Update</h1>

<h4>UpdateMilkDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"hidden>
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="brandName" class="form-control">
                    <option value="" disabled selected>-- Select a brand --</option>
                    @foreach (var tag in brands)
                    {
                        <option value="@tag">@tag</option>
                    }
                </select>
                <span asp-validation-for="brandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (categories.Any())
                {
                    <select asp-for="categoryName" class="form-control">
                        <option value="" disabled selected>-- Select a category --</option>
                        @foreach (var tag in categories)
                        {
                            <option value="@tag">@tag</option>
                        }
                    </select>
                    <span asp-validation-for="categoryName" class="text-danger"></span>
                }
                else
                {
                    <p>Please add a category first.</p>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}